body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center; 
}

.carousel-image {
  width: 100%;
  display: block;
}

.carousel-button {
  margin-top: 10vw; 
  padding: 10px 20px;
  background-color: #FFE8E8;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: #FFE8E8;
}



@keyframes gradientChange {
  0% {
    background: rgb(255,197,151);
    background: linear-gradient(90deg, rgba(255,197,151,1) 49%, rgba(247,212,134,1) 92%);
  }
  50% {
    background: rgb(247,212,134);
    background: linear-gradient(90deg, rgba(247,212,134,1) 49%, rgba(255,197,151,1) 92%);
  }
  100% {
    background: rgb(255,197,151);
    background: linear-gradient(90deg, rgba(255,197,151,1) 49%, rgba(247,212,134,1) 92%);
  }
}


.gradiant-text {
  animation: gradientChange 5s infinite;
}
